<h1>my project about</h2>
<p>Find me in app/views/home/index.html.erb</p>
<%= 35+15 %>

 <% var="RubyOnRailsProject" %>
 <%= "We are doing #{var}" %>

<% @array.each do |n| %>
<%= n %><br/>
<% end %>

